# This is a comprehensive list of python dependencies that Elyra requires to execute Jupyter notebooks.
ipykernel
ipython
ipython-genutils
jinja2
jupyter-client
jupyter-core
MarkupSafe
minio
nbclient
nbconvert
nbformat
papermill
pyzmq
prompt-toolkit
requests
tornado
traitlets
urllib3
